@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --mainFont: 'Open Sans', sans-serif;
    --swiper-theme-color: "white";
    --swiper-pagination-bullet-inactive-color: rgb(219, 206, 206);
    --swiper-pagination-bullet-inactive-opacity: 0.6;
    --swiper-pagination-color: white !important;
    --swiper-pagination-bullet-opacity: 1;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    color-scheme: light dark;
}

body {
    position: relative;
    background: #F9F9F9;
    color: black;
    font-family: var(--mainFont);
    width: 100vw;
    overflow-x: hidden !important;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

/* reusable code blocks */
.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}


/* advertisement section starts here */
.ad-para {
    position: relative;
    background: #91c653;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    height: 50px;
}

.ad-para>a,
.ad-para>span {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-inline: 6px;
}

.ad-para .time {
    background: #79af39;
    font-weight: 400;
}

.grab-now {
    border-bottom: 1px solid rgb(249, 250, 250);
    margin-inline: 1rem;
}

#cutAd {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding-inline: 1rem;
}

/* advertisement section ends here */

/* header section css starts  here */
.header {
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #248de4, #0c5397);
    padding: 10px 2.5rem;
    text-align: center;
    color: white;
}

.logo {
    width: 7.6rem;
    padding: 0 10px;
}

.mob-nav-btn {
    display: none;
}

.search-text-btn {
    margin-right: auto;
    width: 40%;
}

.search-text-btn>input {
    border: none;
    outline: none;
}

.search-text-btn>input {
    border-radius: 2px 0 0 2px;
    margin-right: 0;
    width: 85%;
    padding: 0.5rem;
}

.search-text-btn>button {
    position: relative;
    width: 5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0 2px 2px 0;
    background: linear-gradient(126deg, #f5a623, #f76b1c);
    cursor: pointer;
    color: white;
}

.header>nav {
    width: 40%;
}

.header-nav-ul {
    width: 100%;
    justify-content: space-around;
}

.header-nav-ul>li {
    margin-inline: auto;
}

.header-nav-ul>li:nth-child(4)>a {
    margin-left: auto;
    border-left: 1.5px solid white;
    padding: 0.5rem 0.8rem;
}

.header-nav-ul>li:nth-child(5)>a {
    background-color: #0c5397;
    padding: 0.5rem 0.8rem;
}

.header a {
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
}

.call {
    display: none;
}

.call i,
button {
    padding: 5px 8px;
}

.call button {
    background-color: white;
    color: #0c5397;
    border-radius: 2px;
}

.hamberger-btn>i {
    padding: 10px 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.hamberger-btn>i:hover,
.hamberger-btn>i:active {
    background-color: rgb(225, 221, 221);
    border-radius: 100px;
}

/* header section ends  here */

/* browse category for mobile section starts here */
.browse-cat-con {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);

}

.inner-con {
    position: absolute;
    top: 0;
    left: -300px;
    max-width: 300px;
    height: 100%;
    flex-direction: column;
    background: white;
    animation: transforNav 0.5s ease 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes transforNav {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(300px);
    }
}

.brows-cat-heading {
    background: #f4f4f4;
    border-bottom: 1px solid #d7d7d7;
    color: #4a4a4a;
    cursor: pointer;
    text-align: justify;
}

.brows-cat-heading>* {
    padding: 1rem 1.3rem;
}

.cat-slide-con {
    position: relative;
    width: 300px;
    flex-direction: row;
}

.left-side,
.right-side {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    text-transform: capitalize;
    overflow-y: scroll;
}

.right-side {
    visibility: hidden;
    transform: translateX(300px);
}

.right-side>.right-slide-items {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: normal;
}

.left-side>li,
.right-side>li {
    width: 100%;
    padding: 0.8rem 0.9rem;
}

.left-side>li:first-child {
    justify-content: space-between;
}

.right-side>li:first-child {
    background: #F9F9F9;
    justify-content: flex-start;
    gap: 15px;
}

.login-btn,
.signup-btn {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 2px solid #e9963e;
    font-weight: 700;
    cursor: pointer;
}

.login-btn {
    background: white;
}

.signup-btn {
    background: #e9963e;
    color: white;
}

/* browse category for mobile section ends here */

/* navigation section */
.nav-bar {
    width: 98%;
    padding: 5px 0.8rem;
    gap: 5px;
    margin-inline: auto;
}

.browse-categores {
    position: relative;
    align-items: start;
    text-align: left;
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 0.8rem;
    cursor: pointer;
    padding: 12px 10px;
}

.browse-cat-icon {
    align-items: flex-start;
    flex-direction: column;
}

.cat-item-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    top: 100%;
    left: 10px;
    z-index: 9;
    background-color: white;
}

.browse-categores:hover .cat-item-container {
    display: flex;
}

.categories {
    min-width: 280px;
    background: linear-gradient(to right, #f1f1f1, #f4f4f4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.browse-categores li {
    text-align: left;
    padding: 8px 0.9rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    line-height: normal;
    color: black;
    cursor: pointer;
}

.cat-item-details {
    min-width: 280px;
}

.cat-item-details>li:hover {
    font-weight: 600;
}

.cat-item-card {
    min-width: 300px;
    color: black;
    padding: 1rem;
    text-transform: capitalize;
}

.cat-item-card>h4 {
    position: relative;
    text-align: center;
    color: #a6a1a1;
}

.cat-item-card>h4::before,
.cat-item-card>h4::after {
    position: absolute;
    content: "";
    width: 20%;
    top: 50%;
    border-bottom: 1px solid #a6a1a1;
}

.cat-item-card>h4::before {
    left: 5%;
}

.cat-item-card>h4::after {
    right: 5%;
}

.mark-title {
    font-weight: bold;
    gap: 10px;
}

.mark-title>img {
    width: 50px;
}

.card-details {
    margin: 1rem auto;
    justify-content: space-between;
}

.card-details small {
    font-size: 15px;
    font-style: italic;
}

.courses,
.hours,
.learners {
    display: flex;
    flex-direction: column;
    padding: 10px 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.hours,
.learners {
    border-left: 2px solid rgba(187, 181, 181, 0.5);
}

.card-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-review .fa-star {
    color: #d6cfcf;
}

.card-review .star-color {
    color: orange;
}

.cat-item-card>button {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    border: 1px solid black;
    color: rgb(100, 98, 98);
    background-color: white;
    cursor: pointer;
}

.nav-bar>.desktop-main-nav {
    width: 90%;
    justify-content: space-evenly;
    overflow: hidden;
    gap: 6px;
}

.nav-bar>.desktop-main-nav>li {
    text-align: center;
    padding: 8px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(100, 98, 98);
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.nav-bar>ul>li:hover,
li:visited li:active {
    background-color: rgb(225, 221, 221);
}

.hamberger-btn {
    flex-direction: column;
    position: relative;
    margin-left: auto;
}

.hidden-dropdown {
    display: none;
    min-width: 280px;
    position: absolute;
    z-index: 7;
    text-align: left;
    right: 0;
    top: 100%;
    min-height: 140px;
    border-radius: 2px;
    background: linear-gradient(to right, #f1f1f1, #f4f4f4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.hamberger-btn>.hidden-dropdown>.hidden-dropdown-items {
    width: 100%;
    padding: 6px 0.8rem;
    font-size: 0.9rem;
    color: #2a2929;
    text-transform: capitalize;
}

.hidden-dropdown>.hidden-dropdown-items:hover,
.hidden-dropdown-items:active,
.hidden-dropdown-items:focus {
    background: linear-gradient(to right, #384FE6, #3895E6);
    color: white;
}

.categories .categories-li-items:hover,
.categories-li-items:active,
.categories-li-items:focus {
    background: linear-gradient(to right, #384FE6, #3895E6);
    color: white;
}

.categories>li:hover a,
.hidden-dropdown>.hidden-dropdown-items:hover a {
    color: white;
}

/* image swiper section starts here */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
    color: black;
    background-color: rgba(243, 238, 238, 0.4);
    padding: 25px 25px;
    border-radius: 100%;
    font-weight: bold;
    width: 50px !important;
    height: 50px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: white;
}

.swiper-button-next {
    right: 7% !important;
}

.swiper-button-prev {
    left: 7% !important;
}

.swiper-pagination {
    top: 75% !important;
}

.swiper-pagination-bullet {
    color: white !important;
}

/* image swiper section ends here */

/* main courses section starts here */
.carousel-and-courses {
    position: relative;
}

.main-courses-section {
    width: 80vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -40px;
    transform: translate(-50%);
    z-index: 4;
    gap: 20px;
    text-transform: uppercase;
}

.courses-3-grid {
    width: 32%;
    background-color: #ffff;
    border-radius: 2px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
    cursor: pointer;
    justify-content: space-between;
}

.courses-3-grid>a {
    color: #0c5397;
    font-weight: bolder;
    font-size: 12px;
    text-align: right;
    display: inline-block;
}

/* main courses section ends here */

/* trending courses starts here */

.trending-courses-sec {
    width: 80%;
    flex-direction: column;
    margin: 70px auto;
    gap: 15px;
    text-transform: capitalize;
}

.trending-courses-sec>b {
    margin-right: auto;
    font-size: 1.2rem;
    color: #404040;
    font-weight: 600;
    text-transform: uppercase;
}

.trending-nav-con {
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.trending-nav-con>b {
    padding: 5px 10px;
    font-size: 1.3rem;
    border-bottom: 5px solid #0c5397;
}

.trending-nav-con>i {
    font-size: 1.3rem;
    color: #404040;
    cursor: pointer;
    padding: 5px 10px;
}

.trending-courses-nav {
    margin-right: auto;
    width: 90%;
    display: flex;
}

.trending-nav-con>.trending-courses-nav>li {
    color: #4a4a4a;
    padding: 5px 12px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.trending-couses-items {
    display: none;
    text-align: left;
    min-width: 250px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
    background-color: white;
    border: medium none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}

.trending-couses-items::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 2px;
    bottom: 0;
    left: 99%;
    box-sizing: border-box;
    border: 10px solid #000000;
    border-color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-225deg);
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    z-index: -1;
}

.trending-couses-items>.item-list {
    width: 100%;
    padding: 8px 1rem;
    font-size: 0.9rem;
    color: #2a2929;
    text-transform: capitalize;
}

.trending-couses-items>.item-list:hover,
.trending-couses-items>.item-list:active {
    background: linear-gradient(to right, #384FE6, #3895E6);
}

.trending-couses-items>.item-list:hover a {
    color: white;
}

.swiper-slide {
    width: 49.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 {
    width: 99%;
    height: 100%;
    margin: 15px auto;
}

.trending-courses-grid {
    width: 100%;
    display: grid;
    align-content: start;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.swiper-button-disabled {
    opacity: 0 !important;
}

.grid-slid-next,
.grid-slide-prev {
    border: none !important;
    outline: none !important;
    background-color: white;
}

.grid-slid-next {
    right: 10px !important;
}

.grid-slide-prev {
    left: 10px !important;
}

.grid-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.grid-4-hover {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;

    & span {
        margin: 4px 0;
    }

    & ul li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
    }

    & li {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & button {
        margin: 0 auto;
        border: 1px solid white;
        background: transparent;
        color: white;
        width: 100%;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
}

.grid-4:hover .grid-4-hover {
    display: flex;
}

.grid-4>.course-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.1rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.course-img i {
    font-size: 2rem;
}

.course-img>span:nth-child(2) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-4>.course-desc {
    width: 100%;
    padding: 1.2rem;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
}

.course-desc>b {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-desc-details {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin-top: 10px;
}

.course-desc-details>small {
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.course-desc-details>span>i {
    color: orange;
}

.all-cat {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    & a {
        width: 250px;
        margin: 10px auto;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 2px;
        background: linear-gradient(to right, #3895E6, #384FE6);
    }

    & i {
        font-size: 1.2rem;
        font-weight: 200;
        color: #404040;
    }
}

/* trending courses section ends here */

/* carrer-related-program-section starts here */
.grid-2 {
    width: 75%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.grid2-child {
    position: relative;
    min-width: 49%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.grid-2-hover{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;

    & span {
        margin: 4px 0;
    }

    & ul li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
    }

    & li {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & button {
        margin: 0 auto;
        border: 1px solid white;
        background: transparent;
        color: white;
        width: 100%;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
}
.grid2-child:hover .grid-2-hover{
    display: flex;
}
.grid2-child-img,
.grid2-child-desc {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0.8rem;
}

.grid2-child-img {
    color: white;
    background-image: linear-gradient(242deg, #f49cae, #b05ce2);
}

.grid2-child-img>i {
    font-size: 3rem;
}

.grid2-child-img>span {
    font-size: 1.2rem;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid2-child-desc {
    display: flex;
    flex-direction: column;
}

.grid2-child-desc>span>i {
    color: orange;
}

.grid2-child-desc>small {
    color: grey;
    font-style: italic;
    font-size: 12px;
    margin: 0.5rem 0 0 0;
}

/* carrer-related-program-section ends here */