@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --mainFont: 'Open Sans', sans-serif;
    --swiper-theme-color: "white";
    --swiper-pagination-bullet-inactive-color: rgb(219, 206, 206);
    --swiper-pagination-bullet-inactive-opacity: 0.6;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-opacity: 1;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: #F9F9F9;
    color: black;
    font-family: var(--mainFont);
    width: 100vw;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* reusable code blocks */
.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}


/* advertisement section starts here */
.ad-para {
    position: relative;
    background: #91c653;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    height: 48px;
}

.ad-para>a,
.ad-para>span {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-inline: 6px;
}

.ad-para .time {
    background: #79af39;
    font-weight: 400;
}

.grab-now {
    border-bottom: 1px solid rgb(249, 250, 250);
    margin-inline: 1rem;
}

#cutAd {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding-inline: 1rem;
}

/* advertisement section ends here */

/* header section css starts  here */
.header {
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, #248de4, #0c5397);
    padding: 10px 2.5rem;
    text-align: center;
    color: white;
}

.logo {
    width: 7.6rem;
    padding: 0 10px;
}

.mob-nav-btn {
    display: none;
}

.search-text-btn {
    margin-right: auto;
    width: 40%;
}

.search-text-btn>input {
    border: none;
    outline: none;
}

.search-text-btn>input {
    border-radius: 2px 0 0 2px;
    margin-right: 0;
    width: 85%;
    padding: 0.5rem;
}

.search-text-btn>button {
    position: relative;
    width: 5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0 2px 2px 0;
    background: linear-gradient(126deg, #f5a623, #f76b1c);
    cursor: pointer;
    color: white;
}

.header>nav {
    width: 40%;
}

.header-nav-ul {
    width: 100%;
    justify-content: space-around;
}

.header-nav-ul>li {
    margin-inline: auto;
}

.header-nav-ul>li:nth-child(4)>a {
    margin-left: auto;
    border-left: 1.5px solid white;
    padding: 0.5rem 0.8rem;
}

.header-nav-ul>li:nth-child(5)>a {
    background-color: #0c5397;
    padding: 0.5rem 0.8rem;
}

.header a {
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
}

.call {
    display: none;
}

.call i,
button {
    padding: 5px 8px;
}

.call button {
    background-color: white;
    color: #0c5397;
    border-radius: 2px;
}

.hamberger-btn>i {
    padding: 10px 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.hamberger-btn>i:hover,
.hamberger-btn>i:active {
    background-color: rgb(225, 221, 221);
    border-radius: 100px;
}

/* header section ends  here */

/* browse category for mobile section starts here */
.browse-cat-con {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);

}

.inner-con {
    position: absolute;
    top: 0;
    left: -300px;
    max-width: 300px;
    height: 100%;
    flex-direction: column;
    background: white;
    animation: transforNav 0.5s ease 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes transforNav {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(300px);
    }
}

.brows-cat-heading {
    background: #f4f4f4;
    border-bottom: 1px solid #d7d7d7;
    color: #4a4a4a;
    cursor: pointer;
    text-align: justify;
}

.brows-cat-heading>* {
    padding: 1rem 1.3rem;
}

.cat-slide-con {
    position: relative;
    width: 300px;
    flex-direction: row;
}

.left-side,
.right-side {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    text-transform: capitalize;
    overflow-y: scroll;
}

.right-side {
    visibility: hidden;
    transform: translateX(300px);
}

.right-side>.right-slide-items {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: normal;
}

.left-side>li,
.right-side>li {
    width: 100%;
    padding: 0.8rem 0.9rem;
}

.left-side>li:first-child {
    justify-content: space-between;
}

.right-side>li:first-child {
    background: #F9F9F9;
    justify-content: flex-start;
    gap: 15px;
}

.login-btn,
.signup-btn {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 2px solid #e9963e;
    font-weight: 700;
    cursor: pointer;
}

.login-btn {
    background: white;
}

.signup-btn {
    background: #e9963e;
    color: white;
}

/* browse category for mobile section ends here */

/* navigation section */
.nav-bar {
    width: 98%;
    padding: 5px 0.8rem;
    gap: 5px;
    margin-inline: auto;
}

.browse-categores {
    position: relative;
    align-items: start;
    text-align: left;
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 0.8rem;
    cursor: pointer;
    padding: 12px 10px;
}

.browse-cat-icon {
    align-items: flex-start;
    flex-direction: column;
}

.cat-item-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    top: 100%;
    left: 10px;
    z-index: 9;
    background-color: white;
}

.browse-categores:hover .cat-item-container {
    display: flex;
}

.categories {
    min-width: 280px;
    background: linear-gradient(to right, #f1f1f1, #f4f4f4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.browse-categores li {
    text-align: left;
    padding: 8px 0.9rem;
    font-size: 0.9rem;
    text-transform: capitalize;
    line-height: normal;
    color: black;
    cursor: pointer;
}

.cat-item-details {
    min-width: 280px;
}

.cat-item-details>li:hover {
    font-weight: 600;
}

.cat-item-card {
    min-width: 300px;
    color: black;
    padding: 1rem;
    text-transform: capitalize;
}

.cat-item-card>h4 {
    position: relative;
    text-align: center;
    color: #a6a1a1;
}

.cat-item-card>h4::before,
.cat-item-card>h4::after {
    position: absolute;
    content: "";
    width: 20%;
    top: 50%;
    border-bottom: 1px solid #a6a1a1;
}

.cat-item-card>h4::before {
    left: 5%;
}

.cat-item-card>h4::after {
    right: 5%;
}

.mark-title {
    font-weight: bold;
    gap: 10px;
}

.mark-title>img {
    width: 50px;
}

.card-details {
    margin: 1rem auto;
    justify-content: space-between;
}

.card-details small {
    font-size: 15px;
    font-style: italic;
}

.courses,
.hours,
.learners {
    display: flex;
    flex-direction: column;
    padding: 10px 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.hours,
.learners {
    border-left: 2px solid rgba(187, 181, 181, 0.5);
}

.card-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-review .fa-star {
    color: #d6cfcf;
}

.card-review .star-color {
    color: orange;
}

.cat-item-card>button {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    border: 1px solid black;
    color: rgb(100, 98, 98);
    background-color: white;
    cursor: pointer;
}

.nav-bar>.desktop-main-nav {
    width: 90%;
    justify-content: space-evenly;
    overflow: hidden;
    gap: 6px;
}

.nav-bar>.desktop-main-nav>li {
    text-align: center;
    padding: 8px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9rem;
    color: rgb(100, 98, 98);
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.nav-bar>ul>li:hover,
li:visited li:active {
    background-color: rgb(225, 221, 221);
}

.hamberger-btn {
    flex-direction: column;
    position: relative;
    margin-left: auto;
}

.hidden-dropdown {
    display: none;
    min-width: 280px;
    position: absolute;
    z-index: 7;
    text-align: left;
    right: 0;
    top: 100%;
    min-height: 140px;
    border-radius: 2px;
    background: linear-gradient(to right, #f1f1f1, #f4f4f4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.hamberger-btn>.hidden-dropdown>.hidden-dropdown-items {
    width: 100%;
    padding: 6px 0.8rem;
    font-size: 0.9rem;
    color: #2a2929;
    text-transform: capitalize;
}

.hidden-dropdown>.hidden-dropdown-items:hover,
.hidden-dropdown-items:active,
.hidden-dropdown-items:focus {
    background: linear-gradient(to right, #384FE6, #3895E6);
    color: white;
}

.categories .categories-li-items:hover,
.categories-li-items:active,
.categories-li-items:focus {
    background: linear-gradient(to right, #384FE6, #3895E6);
    color: white;
}

.categories>li:hover a,
.hidden-dropdown>.hidden-dropdown-items:hover a {
    color: white;
}

/* image swiper section starts here */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
    color: black;
    background-color: rgba(243, 238, 238, 0.4);
    padding: 25px 25px;
    border-radius: 100%;
    font-weight: bold;
    width: 50px !important;
    height: 50px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: white;
}

.swiper-button-next {
    right: 7% !important;
}

.swiper-button-prev {
    left: 7% !important;
}

.swiper-pagination-bullet {
    color: white !important;
}

/* image swiper section ends here */

/* main courses section starts here */
.carousel-and-courses {
    position: relative;
}

.main-courses-section {
    width: 80vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -40px;
    transform: translate(-50%);
    z-index: 4;
    gap: 20px;
    text-transform: uppercase;
}

.courses-3-grid {
    width: 32%;
    background-color: #ffff;
    border-radius: 2px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
    cursor: pointer;
    justify-content: space-between;
}

.courses-3-grid a {
    color: #0c5397;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    display: inline-block;
}

/* main courses section ends here */

/* trending courses starts here */

.trending-courses-sec {
    width: 80%;
    flex-direction: column;
    margin: 70px auto 25px auto;
    gap: 15px;
    text-transform: capitalize;
}

.trending-courses-sec>b {
    margin-right: auto;
    font-size: 1.2rem;
    color: #404040;
    font-weight: 600;
}

.trending-nav-con {
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.trending-nav-con>b {
    padding: 5px 10px;
    font-size: 1.3rem;
    border-bottom: 5px solid #0c5397;
}

.trending-nav-con>i {
    font-size: 1.3rem;
    color: #404040;
    cursor: pointer;
    padding: 5px 10px;
}

.trending-courses-nav {
    margin-right: auto;
    width: 90%;
    display: flex;
}

.trending-nav-con>.trending-courses-nav>li {
    color: #4a4a4a;
    padding: 5px 12px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.trending-couses-items {
    display: none;
    text-align: left;
    min-width: 250px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
    background-color: white;
    border: medium none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
}

.trending-couses-items::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 2px;
    bottom: 0;
    left: 99%;
    box-sizing: border-box;
    border: 10px solid #000000;
    border-color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-225deg);
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    z-index: -1;
}

.trending-couses-items>.item-list {
    width: 100%;
    padding: 8px 1rem;
    font-size: 0.9rem;
    color: #2a2929;
    text-transform: capitalize;
}

.trending-couses-items>.item-list:hover,
.trending-couses-items>.item-list:active {
    background: linear-gradient(to right, #384FE6, #3895E6);
}

.trending-couses-items>.item-list:hover a {
    color: white;
}

.swiper-slide {
    width: 49.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 {
    width: 99%;
    height: 100%;
    margin: 15px auto;
}

.trending-courses-grid {
    width: 100%;
    display: grid;
    align-content: start;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.swiper-button-disabled {
    opacity: 0 !important;
}

.grid-slid-next,
.grid-slide-prev {
    border: none !important;
    outline: none !important;
    background-color: white;
}

.grid-slid-next {
    right: 10px !important;
}

.grid-slide-prev {
    left: 10px !important;
}

.grid-4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.grid-4-hover,
.grid-2-hover,
.recently-add-grid-2-hover {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    padding: 0.8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;

    & span {
        margin: 4px 0;
    }

    & ul li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
    }

    & li {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & button {
        margin: 0 auto;
        border: 1px solid white;
        background: transparent;
        color: white;
        width: 100%;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
}

.grid-4:hover .grid-4-hover {
    display: flex;
}

.grid-4>.course-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.1rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.course-img i {
    font-size: 2rem;
}

.course-img>span:nth-child(2) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-4>.course-desc {
    width: 100%;
    padding: 1.2rem;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
}

.course-desc>b {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-desc-details {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin-top: 10px;
}

.course-desc-details>small {
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.course-desc-details>span>i {
    color: orange;
}

.all-cat {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    & i {
        font-size: 1.2rem;
        font-weight: 200;
        color: #404040;
    }
}

.all-cat>a {
    width: 250px;
    margin: 10px auto;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient(to right, #3895E6, #384FE6);
}

/* trending courses section ends here */

/* carrer-related-program-section starts here */
.grid-2 {
    width: 66.66%;
    gap: 10px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    margin: 15px 0;
}

.grid2-child {
    position: relative;
    min-width: 49%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    gap: 20px;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.grid2-child:hover .grid-2-hover {
    display: flex;
}

.grid2-child-img,
.grid2-child-desc {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    padding: 0.8rem;
}

.grid2-child-img {
    color: white;
    background-image: linear-gradient(242deg, #f49cae, #b05ce2);
}

.grid2-child-img>i {
    font-size: 3rem;
}

.grid2-child-img>span {
    font-size: 1.2rem;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid2-child-desc {
    display: flex;
    flex-direction: column;
}

.grid2-child-desc>span>i {
    color: orange;
}

.grid2-child-desc>small {
    color: grey;
    font-style: italic;
    font-size: 12px;
    margin: 0.5rem 0 0 0;
}

/* carrer-related-program-section ends here */

/* recentyly addition section starts here */
.mySwiper4 .swiper-slide {
    gap: 10px;
    display: flex;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
}

.recently-add-grid-2 {
    position: relative;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    margin: 15px 0;
    flex-direction: column;
}

.recently-add-grid-2:hover .recently-add-grid-2-hover {
    display: flex;
}

.recently-add-grid-items-desc,
.recently-add-grid-items-pic {
    padding: 1rem 1.2rem;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    flex-direction: column;
}

.recently-add-grid-items-pic {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;

    & b {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.recently-add-grid-items-desc {
    text-transform: capitalize;
    background-color: white;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);

    & p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & small {
        margin: 12px 0 0 0;
    }

    & i {
        color: orange;
    }
}

/* recentyly addition section ends here */
/* discover top categories section starts here */
.discover-cat-container {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(7, 140px);
    grid-auto-flow: row;
    gap: 10px;
    justify-content: space-between;
    margin: 16px auto;
}

.discover-cat-item>a {
    padding: 1.2rem;
    min-height: 140px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.15);
}

.discover-cat-item small {
    color: #404040;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-cat-item i {
    font-size: 2.2rem;
}

.go-to-more {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 15px auto;
    color: rgb(10, 56, 88);
    font-size: 0.8rem;
}

/* discover top categories section ends here */

/* review section starts here */
.mySwiper5 .swiper-slide {
    width: 31.5%;
    padding: 0.8rem;
}

.review-con {
    position: relative;
    text-transform: capitalize;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.review-pic-con {
    justify-content: flex-start;
    gap: 10px;
}

.review-pic-con>b {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.review-pic-con .title {
    align-items: start;
    flex-direction: column;
}

.title small {
    font-size: smaller;
    color: grey;
}

.taken-course {
    display: flex;
    flex-direction: column;
}

.taken-course i {
    color: orange;
}

.taken-course small {
    font-size: 12px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-para {
    min-height: 100px;
    max-height: 100px;
    font-size: 14px;
    line-height: 1.5rem;
    cursor: pointer;
    overflow-y: hidden;
}

.overflowY {
    overflow-y: scroll;
}


.review-para button {
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #0A66C2;
    background: white;
}

/* review section ends here */

/* view all courses strip starts here */
.view-all-course-srtip {
    background-image: linear-gradient(95deg, #64afef, #248ae4 50%, #244ee4 100%);
    margin: 20px 0;
    padding: 25px 20px;
    gap: 25px;
}

.view-all-course-srtip h3 {
    color: white;
}

.view-all-course-srtip a {
    padding: 10px 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #0c5397;
    text-align: center;
}

/* view all courses strip ends here */

/* latest blog section starts here */
.blog-container {
    align-items: flex-start;
    width: 100%;
    margin: 20px auto;
}

.pagination-color .swiper-pagination-bullet-active {
    --swiper-pagination-color: rgb(5, 0, 0) !important;
}

.blog-grid {
    width: 70%;
}

.blog-grid .blog-grid-3 {
    width: 33.33%;
}

.blog-grid-3>a {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.blog-grid-3 .blog-img {
    max-height: 160px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-grid-3 i {
    font-size: 13px;
}

.blog-grid-3 h4 {
    text-transform: capitalize;
    padding: 8px 12px;
    font-size: 14px;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-show-more {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding-inline: 1.2rem;
    gap: 3px;
}

.blog-show-more b {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.blog-show-more small {
    color: #404040;
    text-transform: capitalize;
    line-height: 1.3rem;
}

.blog-show-more a {
    text-transform: capitalize;
    padding: 6px 1.5rem;
    background: transparent;
    border: 1px solid #12589a;
    margin-top: 8px;
    color: #12589a;
}

/* latest blog section ends here */

/* edureka edge section starts here */
.edge-4-container {
    width: 98%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.edge-4-item {
    flex-direction: column;
    justify-content: stretch;
    font-size: 25px;
    gap: 8px;
}

.edge-4-item .real-time-doubt {
    background: -webkit-linear-gradient(312deg, #30eeff 14%, #34f991 90%);
}

.edge-4-item .unlimited-access {
    background: -webkit-linear-gradient(246deg, #243be4 14%, #e424dc 90%);
}

.edge-4-item .twentyfourX7 {
    background: -webkit-linear-gradient(108deg, #248de4 14%, #243be4 90%);
    font-size: 1.7em;
    font-weight: bolder;
}

.edge-4-item .track-you {
    background: -webkit-linear-gradient(143deg, #fad961 14%, #f76b1c 90%);
}

.edge-4-item .track-you,
.edge-4-item .twentyfourX7,
.edge-4-item .unlimited-access,
.edge-4-item .real-time-doubt {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.edge-4-item>i {
    margin: 10px auto;
    font-style: normal;
    font-size: 2em;
}

.edge-4-item strong {
    font-size: 0.6em;
}

.edge-4-item small {
    font-size: 0.6em;
}

/* edureka edge  section ends here */

/* media review section starts here*/
.mySwiper7 .swiper-wrapper {
    padding: 1.2rem 0;
}

.media-review-con {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    width: 60%;
    text-align: center;
    font-size: 30px
}

.media-review-con i {
    text-align: left;
    font-size: 2em;
    color: #243be4;
}

.media-review-con h4 {
    font-size: 0.8em;
}

.media-review-con a {
    color: #243be4;
    font-size: 0.6em;
}

.media-review-con img {
    height: 70px;
    width: auto;
    margin-inline: auto;
}

/* media review section ends here*/

/* edureka business banner section starts here */
.business-banner-section {
    margin: 1rem 0 0 0;
    width: 100%;
    background-image: url("./homepage-img/business-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.business-banner-section .business-banner-content {
    margin-inline: auto;
    padding: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-transform: capitalize;
    gap: 5px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.business-banner-section img {
    width: 250px;
    margin: 10px auto 0 auto;
}

.business-banner-section h3 {
    font-size: 0.7em;
}

.business-banner-section p {
    font-size: 0.5em;
    font-weight: 800;
}

.business-banner-section button {
    color: #12589a;
    font-size: 0.5em;
    background-color: white;
    margin: 0.8rem auto;
    width: 180px;
    border-radius: 2px;
    padding: 10px 1rem;
}

/* edureka business banner section ends here */

/* our corporate clients section starts here */
.corporate-clients {
    background: #Ffff;
    padding: 1.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.corporate-clients ul {
    width: 90%;
    margin: 10px auto;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    gap: 10px;
}

.corporate-clients ul li {
    margin-inline: auto;
}

.corporate-clients li img {
    width: 80%;
    margin-inline: auto;
}

/* our corporate clients section ends here */

/* footer section starts here */
.footer-section {
    width: 75%;
    margin: 1.3rem auto;
}

.footer-section a {
    font-size: 13px;
    color: #333;
    text-transform: capitalize;
}

.footer-section h3 {
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
}

.footer-section .verdana-logo,
.footer-section img {
    max-width: 130px;
}

.footer-details-con {
    margin: 1rem 0;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}

.footer-colunm-4 {
    width: auto;
}

.footer-colunm-4 ul li {
    padding: 5px 0;
}

.footer-section>button {
    width: 100%;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1rem 0;
    background: transparent;
}

.footer-section>button i {
    font-size: 1.3rem;
    visibility: hidden;
    transition: transform 0.5s;
}

.btn-rotate {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.footer-cat-con ul {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.footer-cat-con ul li {
    padding-right: 10px;
    border-right: 1px solid gray;
}

.copyright-and-media {
    justify-content: start;
    margin: 1rem auto;
    gap: 25px;
    font-size: 13px;
    flex-wrap: wrap;
}

.copyright-and-media span {
    gap: 1rem;
}

.copyright-and-media span i {
    font-size: 1.3rem;
}

/* footer section ends here */
.footnote {
    padding: 1.8rem 0;
    text-align: center;
    font-size: 12px;
    word-spacing: 3px;
    font-weight: bold;
    color: #2a2929;
    background-color: white;
}

/* contact us section starts here */
.contact-us-box {
    max-width: 280px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: white;
    box-shadow: -14px -2px 15px -1px rgba(237, 89, 62, 0.15);
}

.contact-box-body {
    height: 0px;
    transition: all 800ms;
}

.contact-body-height {
    height: 335px;
    transition: all 800ms;
}

.box-head {
    display: none;
    height: 44px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
    background-color: #ed593e;
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.logo-and-mob {
    & * {
        color: #ed593e;
    }

    gap: 10px;
    padding: 1.1rem 0;
}

.logo-and-mob .fa-square-phone {
    font-size: 2.6rem;
}

.logo-and-mob small {
    font-size: 12px;
}

.logo-and-mob span {
    align-items: start;
    flex-direction: column;
}

.logo-and-mob a {
    font-weight: 900;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 15px;
}

.countycode-number {
    width: 100%;
    outline: 1px solid #2a2929;
    border-radius: 2px;
    height: 40px;
}

.countycode-number select {
    border: none;
    padding: 0 5px;
    height: 100%;
    border-right: 1px solid #2a2929;
}

.countycode-number option:active {
    border: none;
}

.countycode-number span {
    padding: 0 5px;
    height: 100%;
    border-right: 1px solid #2a2929;
}

.countycode-number input[type="tel"] {
    color: #2a2929;
    font-size: 13px;
    width: 60%;
    height: 100%;
    padding: 0 5px;
    outline: none;
    border: none;
}

.countycode-number input::placeholder {
    text-align: center;
}

.contact-form input[type="email"] {
    width: 100%;
    height: 40px;
    padding: 6px 8px;
    margin: 1rem 0;
}

.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #2a2929;
    border-radius: 3px;
}

.contact-form textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 6px 8px;
}

.contact-form input[type="submit"] {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    background-color: #ed593e;
}

/* contact us section ends here */

/* call us float for smaller screen starts here */
.call-us-float {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 20px;
    width: 55px;
    height: 55px;
    z-index: 1;
    border-radius: 100px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(134deg, #fad961, #f76b1c);
    transition: all 0.6s;
    opacity: 0;
    pointer-events: none;
}

.call-us-float i {
    color: white;
    font-size: 1.6rem;
}

/* call us float for smaller screen ends here */

/* scroll to top section */
.scroll-to-top {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    background-image: linear-gradient(to left, #248de4, #0c5397);
    box-shadow: 0 0px 9px 0px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    z-index: 11;
}

.scroll-to-top.scroll-active {
    pointer-events: auto;
    transition: all 0.5s;
    opacity: 1;
}

/* login to website section starts here */

.login-signup-section {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    overflow: scroll;
}

.form-container {
    max-width: 520px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 6px;
}

.login-title-con {
    padding: 1rem 1.2rem 0 1.2rem;
    gap: 20px;
    justify-content: space-between;
}

.login-title-con h4 {
    margin-right: auto;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: #3e3c3c;
}

.login-title-con button {
    background: transparent;
    color: #3e3c3c;
    font-size: 1.3rem;
}

.login-form-con {
    padding: 1rem 1.5rem 0 1.5rem;
}

.email-con,
.pass-con {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 0.9rem;
}

.email-con input[type="email"],
.pass-con input[type="password"] { 
    width: 100%;
    margin: 5px auto;
    padding: 10px 8px;
    border: 1px solid #3e3c3c;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
}

.pass-con a {
    color: #0575b3;
    position: absolute;
    top: 50%;
    right: 10px;
}
.login-failed{
    display: none;
    font-size: 13px;
    color: red;
}
.login-form-con p{
    font-size: 13px;
    margin: 1.3rem 0 0.5rem 0;
    word-spacing: 3px;
    text-align: justify;
    line-height: normal;
}
.login-form-con p a{
    font-weight: 700;
    color: black;
}
.login-form-con input[type="submit"]{
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background-color: #f7951e;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
    color: #ffffff;
    border: 0;
    outline: none;
    margin: 10px 0 0px;
    cursor: pointer;
    padding: 0;
}
.form-container > p{
text-align: center;
margin: 1rem 0 1.2rem 0;
& a{
    color: #0575b3;
    font-weight: 800;
}
}
